---

---
<nav class="flex items-center w-full justify-between bg-gray-100">
	<div class="basis-1/4 p-5">
		<div>
			<a href="#">Nav</a>
		</div>
	</div>
	<div class="basis-1/2 flex justify-center hidden md:flex">
		<ul class="md:flex md:flex-row gap-5">
			<li class="my-3 md:my-0">
				<a
					href="#"
					>Retail</a
				>
			</li>
			<li class="my-3 md:my-0">
				<a
					href="#"
					>Business</a
				>
			</li>
		</ul>
	</div>
	<div class="basis-1/4 flex justify-end p-5">
		<button
			class="py-3 border-0 md:hidden leading-none text-xl bg-transparent hover:text-gray-700 focus:text-gray-800 transition-shadow duration-150 ease-in-out"
			type="button"
		>
			<svg
				aria-hidden="true"
				focusable="false"
				data-prefix="fas"
				class="w-5"
				role="img"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 448 512"
			>
				<path
					fill="currentColor"
					d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
				>
				</path>
			</svg>
		</button>
	</div>
</nav>
